<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- CSV 파일에서 데이터를 읽어올 수 있습니다.
- 가변수(Dummy Variable)를 만들 수 있습니다.
- 열 이름을 바꿀 수 있습니다.
- 결측치 정보를 확인하고 제거하거나 다른 값으로 채울 수 있습니다.

# P4. 데이터프레임 변경(1)

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

1) 'titanic_simple.csv' 파일을 불러와 데이터프레임 **titanic**을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'

In [2]:
# titanic 데이터 불러오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/retail_new.csv'
titanic = pd.read_csv(file_path, sep = ',')

# 확인
titanic.head()

   order_date product_id customer_id  ... address2 quantity  amount
0  2019-01-02   p1030071     c107853  ...      안성시        2    7900
1  2019-01-02   p1012761     c110521  ...      안산시        1    1700
2  2019-01-02   p1012581     c110521  ...      안산시        1    1000
3  2019-01-02   p1175481     c110521  ...      안산시        1    1300
4  2019-01-02   p1178011     c110521  ...      안산시        1    8800

[5 rows x 12 columns]

2) drop() 메소드를 사용해 Name, PassengerId 열을 삭제하세요.

In [3]:
# Name 열 삭제
titanic.drop(['Name', 'PassengerId'], axis=1, inplace=True)

# 확인
titanic.head()

KeyError: ignored

3) 모든 열 이름을 소문자로 변경하세요.

In [ ]:
# 열 이름 변경
titanic.columns = ['survived', 'pclass', 'sex' ,'age' ,'fare', 'embarked']

# 확인
titanic.head()

4) insert() 메소드를 사용해 5번째 열로, 즉 age 열 뒤에 0을 갖는 age2를 추가하세요.

In [ ]:
# age2 열 추가
titanic.insert(4, 'age2', 0)

# 확인
titanic.head()

5) age2 열이 age // 10 * 10 계산 결과를 갖게 변경하세요.

In [ ]:
# age2 열 변경
titanic['age2'] = titanic['age'] // 10 * 10

# 확인
titanic.head()

6) sex 열 뒤에 0 을 갖는 sex2 열을 추가하세요.

In [ ]:
# sex2 열 추가
titanic.insert(3, 'sex2', 0)

# 확인
titanic.head()

7) sex2 열이 'female', 'male' 대신 0, 1을 갖도록 변경하세요.

In [ ]:
# female --> 0, male --> 1 
titanic['sex2'] = titanic['sex'].map({'female':0, 'male':1})

# 확인
titanic.head()

8) embarked 열의 첫 글자만을 갖는 embarked2 열을 맨 뒤에 추가하세요.

In [ ]:
# embarked2 열 추가
titanic['embarked2'] = titanic['embarked'].str[0]

# 확인
titanic.head()

9) sex, age, embarked 열을 제거하세요.

In [ ]:
# 열 제거
titanic.drop(['sex', 'age', 'embarked'], axis=1, inplace=True)

# 확인
titanic.head()

10) sex2, age2, embarked2 열 이름을 각각 sex, age, embarked로 변경하세요.

In [ ]:
# 열 이름 변경
titanic.rename(columns={'sex2': 'sex', 'age2': 'age', 'embarked2': 'embarked'}, inplace=True)

# 확인
titanic.head()

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=300/></center>